h1 {
    color:blue;
}


.header{
    background-color: yellow;
    display:flex;
    justify-content: space-evenly;
}
.site-description{
    display:flex;
    flex-direction:column;
    justify-content:first baseline;
}
.grid{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end;
}
p,h2{
    text-align: center;
}